name: Main Workflow

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:

  test-and-build-java:
    name: Test & Build Java Modules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Build all Java modules (resolve local dependencies)
        run: mvn -B clean package -Dquarkus.container-image.build=false

  publish-java:
    name: Publish Selected Java SDKs
    runs-on: ubuntu-latest
    needs: test-and-build-java
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Publish to GitHub Packages
        run: mvn -B deploy --settings .github/settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}
